
@using FileUploading.Models
@model List<FileModel>


@{
    ViewBag.Title = "Image Downloader";
 @*Yes this is the final version*@
}
<head>
    <style type="text/css">
        .auto-style {
            color: #FFFFFF;
        }

        .t {
            text-align: center;
            vertical-align: middle;
        }

        #download {
            background-color: forestgreen;
            color: white;
        }

        #delete {
            background-color: palevioletred;
            color: white;
        }
    </style>
</head>
<h3>@ViewBag.Title</h3>
<br />

@foreach (FileModel file in Model)
{
<div class="gallery">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem; height: 400px;">
            <img class="card-img-top" id="image" src="@Url.Content("~/Media/Images/")@file.FileName" style="width:300px; height:200px;">
            @file.FileName
            <div class="card-body">
                <br />
                <button id="download">
                    @Html.ActionLink("Download", "DownloadFile",
                     new { fileName = file.FileName },
                     new { style = "color: white;" })
                </button>
                <button id="delete">
                    @Html.ActionLink("DELETE", "DeleteFile",
                   new { fileName = file.FileName },
                   new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                </button>
                <br />
            </div>
        </div>
    </div>
</div>
}
<script>
    $(document).ready(function ($) {
        $(".gallery a").fancybox();
    });
</script>

